<div class="d-none" id="docs-frameworks">
    <h1>Frameworks</h1>

    <p>A framework is a collection of various libraries and tools that are required in the development process of a software application. It acts as a base on which different software applications can be developed. A node framework is a workspace platform that supports the use of Node.js and which allows developers to use JavaScript for developing front end as well as the back end of an application. Node frameworks are a wide collection of frameworks built on Node and that extend its properties and functionalities further.</p>

    <br>

    <h4 class="fw-bold">Node.js Frameworks:</h4>
    
    <ul>
        <li>Express.js</li>
        <li>AdonisJS</li>
        <li>MeteorJS</li>
        <li>NestJS</li>
        <li>SailsJS</li>
        <li>Hapi.js</li>
        <li>Loopback.io</li>
        <li>Feathers.js</li>
        <li>MEAN.JS</li>
        <li>KoaJS</li>
    </ul>

    <br>

    <h4 class="fw-bold">Benefits of Node Framework:</h4>
    
    <ul>
        <li>Productivity</li>
        <li>Scalability</li>
        <li>Speed</li>
        <li>Same Languages for Front-end and Back-end</li>
        <li>Maintaining Code standards across a team</li>
    </ul>

    <br><br>
</div>