<div class="d-none" id="docs-template-engines">
    <h1>Template Engines</h1>

    <p>Template engine helps us to create an HTML template with minimal code. Also, it can inject data into HTML template at client side and produce the final HTML.</p>

    <br>

    <p>The following figure illustrates how template engine works in Node.js:</p>

    <br><br>

    <img src="/img/template-engines-logic.png" alt="template-engines-logic">

    <br><br>

    <p>As per the above figure, client-side browser loads HTML template, JSON/XML data and template engine library from the server. Template engine produces the final HTML using template and data in client's browser. However, some HTML templates process data and generate final HTML page at server side also.</p>

    <br>

    <p>There are many template engines available for Node.js. Each template engine uses a different language to define HTML template and inject data into it.</p>

    <br>

    <h4 class="fw-bold">Node.js template engines</h4>
    
    <ul>
        <li>Jade</li>
        <li>Vash</li>
        <li>EJS</li>
        <li>Mustache</li>
        <li>Dust.js</li>
        <li>Nunjucks</li>
        <li>Handlebars</li>
        <li>atpl</li>
        <li>haml</li>
    </ul>

    <br>

    <h4 class="fw-bold">Advantages of Template engine in Node.js:</h4>
    
    <ol>
        <li>Improves developer's productivity.</li>
        <li>Improves readability and maintainability.</li>
        <li>Faster performance.</li>
        <li>Maximizes client side processing.</li>
        <li>Single template for multiple pages.</li>
        <li>Templates can be accessed from CDN.</li>
    </ol>

    <br><br>
</div>