<div class="d-none" id="docs-npm">
    <h1>NPM</h1>

    <p><span class="fw-bold">npm</span> is two things: it is an online repository for publishing open-source Node.js projects. It is also a command-line utility for interacting with repositories that helps in package installation, version management, and dependency management. A large amount of Node.js libraries and applications are published on npm. These applications can be searched for on <a href="https://www.npmjs.com/" target="_blank">https://www.npmjs.com/</a>. Once you have a package you want to install, it can be installed with a single command-line command. <span class="fw-bold">npm install {package-name}</span></p>

    <br>

    <p>For example let's install the express framework. To do so we run <span class="fw-bold">npm install express</span>. The specified module will be installed in the <span class="fw-bold">./node_modules/</span> folder. Once installed to your <span class="fw-bold">node_modules</span> folder, you'll be able to use <span class="fw-bold">require()</span> on them just like any other module.</p>

    <br>

    <p>Let's look at an example of a global install. All we need to to is add a <span class="fw-bold">-g</span> flag to the command. <span class="fw-bold">npm install express -g</span> This will install the program globally on your system, which means you can access it whitin everywhere in your system.</p>

    <br>

    <p>Another important use for npm is dependency management. When you have a node project with a package.json file, you can run <span class="fw-bold">npm install</span> from the project root and npm will install all the dependencies listed in the package.json. This makes for example installing a Node.js project from a git repo easier.</p>

    <br>

    <p>Example:</p>

    <div class="code-example">
        <pre>git clone https://github.com/cloudhead/vows.git<br>cd vows<br>npm install</pre>
    </div>

    <br>

    <p>After running those commands, you will see a <span class="fw-bold">node_modules</span> folder containing all of the project dependencies specified in the package.json.</p>

    <br><br>
</div>