<div class="d-none" id="docs-template-engines">
    <h1>Template Engines</h1>

    <p>Template engine helps us to create an HTML template with minimal code. It can also inject data into HTML template from the server, and produce the final HTML.</p>

    <br>

    <p>Most template engines allow for the use of partials where you can split your templates into reusable modules. When rendering templates on client we also render in partials that were brought inn along with any injected data from the server.</p>

    <br>

    <p>There are many template engines available for Node.js. Each template engine uses a different language to define HTML template and inject data into it.</p>

    <br>

    <h4 class="fw-bold">Node.js template engines</h4>
    
    <ul>
        <li>Jade</li>
        <li>Vash</li>
        <li>EJS</li>
        <li>Mustache</li>
        <li>Dust.js</li>
        <li>Nunjucks</li>
        <li>Handlebars</li>
        <li>atpl</li>
        <li>haml</li>
    </ul>

    <br>

    <h4 class="fw-bold">Advantages of Template engine in Node.js:</h4>
    
    <ol>
        <li>Improves developer's productivity.</li>
        <li>Improves readability and maintainability.</li>
        <li>Faster performance.</li>
        <li>Maximizes client side processing.</li>
        <li>Single template for multiple pages.</li>
        <li>Templates can be accessed from CDN.</li>
    </ol>

    <br><br>
</div>