<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
    <script src="/js/main.js" type="module" defer></script>
    <title>Node JS | <%= title %></title>
</head>
<body>
    <nav class="container d-flex align-items-center justify-content-space-between">
        <a href="/"><img src="/img/node-logo.svg" alt="nav-logo"></a>

        <img id="navbar-icon" class="d-sm-block-important" src="/img/hamburger-menu-icon.svg" alt="hamburger-menu-icon">

        <ul id="navbar-links" class="d-flex align-items-center d-sm-none-important">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/about">About</a></li>
            <li class="nav-link"><a href="/docs">Docs</a></li>
            <li class="nav-link"><a href="/examples">Examples</a></li>
            <li><img id="theme-toggler" src="/img/sun-icon.svg" alt="sun-icon"></li>
        </ul>
    </nav>