<%- include('./partials/head.ejs') %>

    <main class="container" id="examples">
        <h1 class="mb-2">Example Projects</h1>

        <section class="cards-wrapper">
            <div class="card">
                <div class="card-heading">
                    <h1>Node Proxy Server For TMDB API</h1>
                </div>

                <div class="card-body">
                    <a href="https://github.com/Anjani-ch/Vue_Movie_App/tree/master/server" target="_blank" class="btn-github text-center">Code</a>
                </div>
            </div>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>