<%- include('./partials/head.ejs') %>

    <main id="home" class="container d-flex justify-content-space-around align-items-center">
        <div>
            <h1><span>Node</span> JS</h1>
            <p>Fast, efficient, and scalable</p>
            <button class="btn-primary">Get Started</button>
            <a href="/download/pdf" class="btn-primary-transparent" id="download-pdf-btn">Download PDF</a>
        </div>
        <img src="img/node-js-logo.svg" alt="node-js-logo">
    </main>

<%- include('./partials/footer.ejs') %>