<div class="d-none" id="linux-installation">
    <h1>Linux</h1>

    <h3>Ubuntu, Debian, Mint:</h3>

    <div class="code-example">
        <pre>sudo apt install nodejs npm</pre>
    </div>

    <br>

    <h3>CentOS(8 - latest), Fedora, Red Hat(latest):</h3>

    <div class="code-example">
        <pre>sudo dnf install nodejs</pre>
    </div>

    <br>

    <h3>CentOS(6, 7, 8), Red Hat(old):</h3>

    <div class="code-example">
        <pre>sudo yum install epel-release<br>sudo yum install nodejs</pre>
    </div>

    <br>

    <h3>Arch, Manjaro:</h3>

    <div class="code-example">
        <pre>sudo pacman -S nodejs</pre>
    </div>

    <br>

    <p>Run <span class="fw-bold">node -v</span> in terminal to confirm installation success</p>

    <div class="code-example">
        <pre>node -v<br>v16.13.1</pre>
    </div>
</div>