<div class="d-none" id="mac-installation">
    <h1>Mac</h1>

    <p>1. Download</p>

    <br>

    <p>Visit Node js download page <a href="https://nodejs.org/en/download/" target="_blank">here</a></p>
    <p>Click on macOS Installer to download the latest version of node installable package.</p>

    <br>

    <img src="/img/installation/mac/mac-step-1.png" alt="mac-step-1-1">

    <p>2. Install</p>

    <br>

    <p>Click on the download node-vxx.xx.xx.pkg (for example node-v10.15.0.pkg) in previous step to start the installation which brings up below screen. Please click <span class="fw-bold">continue</span></p>

    <br>

    <img src="/img/installation/mac/mac-step-2-1.png" alt="mac-step-2-1">

    <p>By clicking continue in previous step you will be asked to accept license, please click continue</p>

    <br>

    <img src="/img/installation/mac/mac-step-2-2.png" alt="mac-step-2-2">

    <p>Please accept the agreement by clicking <span class="fw-bold">Agree</span></p>

    <br>

    <img src="/img/installation/mac/mac-step-2-3.png" alt="mac-step-2-3">

    <p>Click <span class="fw-bold">continue</span></p>

    <br>

    <img src="/img/installation/mac/mac-step-2-4.png" alt="mac-step-2-4">

    <p>Click <span class="fw-bold">install</span>, which would prompt you for the credentials</p>

    <br>

    <img src="/img/installation/mac/mac-step-2-5.png" alt="mac-step-2-5">

    <br>

    <p>Provide username and password and click <span class="fw-bold">Install Software</span> </p>

    <br>

    <img src="/img/installation/mac/mac-step-2-6.png" alt="mac-step-2-6">

    <p>On successful installation you will see the below screen which shows the summary of the installation.</p>

    <br>

    <img src="/img/installation/mac/mac-step-2-7.png" alt="mac-step-2-7">

    <p>To access the node and npm executable from terminal make sure <span class="fw-bold">/usr/local/bin</span> is in your $PATH. You can verify that by running <span class="fw-bold">echo</span> $PATH command in terminal</p>

    <br>

    <p>3. Testing Installation</p>

    <br>

    <p>Open terminal and run below command to test node</p>
    <p>node -v</p>

    <br>

    <img src="/img/installation/mac/mac-step-3.png" alt="mac-step-3">
</div>