@mixin media-mobile {
    @media(max-width: 768px) { @content; }
}

@mixin media-lg {
    @media(min-width: 768px) { @content; }
}

@mixin media-md() {
    @media(max-width: 768px) { @content; }
}

@mixin media-sm() {
    @media(max-width: 500px) { @content; }
}

@mixin set-contrast($color) {
    background-color: $color;
    color: set-text-color(($color));
}

@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    box-shadow: $property;
}