// Containers
.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

// Code Example
.code-example {
    padding: 15px 20px;
    margin: 10px 0px;
    background-color: #2c3437;
    color: white;

    img {
        filter: var(--svg-white);
        transform: rotate(-90deg);
        width: 10px;
    }

    .code-line {
        display: flex;
        align-items: center;

        img { margin-right: 7px; }
        p { transform: translateY(-1.5px) }
    }
}

// Colors
.text-muted { color: grey; }

// Font-weight
.fw-bold { font-weight: bold; }
.fw-bolder { font-weight: bolder; }

// Text align
$text-align-properties: (start, center, end);

@each $property in $text-align-properties { .text-#{$property} { text-align: #{$property}; } }

// Display
$display-properties: (block, inline, inline-block, flex, grid, none);

@each $property in $display-properties {
    .d-#{$property} { display: #{$property}; }
    .d-mb-#{$property} { @include media-mobile { display: #{$property}; } }
}
@each $property in $display-properties {
    .d-#{$property}-important { display: #{$property} !important; }
    .d-mb-#{$property}-important { @include media-mobile { display: #{$property}; } }
}

// Position
$position-properties: (static, relative, absolute, sticky, fixed);

@each $property in $position-properties { .position-#{$property} { position: #{$property}; } }

// Justify content
$justify-content-properties: (flex-start, center, flex-end, space-around, space-between);

@each $property in $justify-content-properties { .justify-content-#{$property} { justify-content: #{$property}; } }

// Align items
$align-items-properties: (flex-start, center, flex-end);

@each $property in $align-items-properties { .align-items-#{$property} { align-items: #{$property}; } }

// Flex direction
$flex-directions-properties: (row, row-reverse, column, column-reverse);

@each $property in $flex-directions-properties {
    .flex-dir-#{$property} { flex-direction: #{$property}; }
    .flex-dir-mb-#{$property} { @include media-mobile { flex-direction: #{$property}; } }
}

// Margin and Padding
$space-amounts: (1, 2, 3, 4, 5, auto);

@each $space in $space-amounts {
    $value: #{$space};

    @if $value == auto { $value: #{$space}; }
    @else { $value: #{$space}rem; }

    // Margin
    .m-#{$space} { margin: #{$value}; }
    .mx-#{$space} { margin: 0 #{$value}; }
    .my-#{$space} { margin: #{$value} 0; }
    .mt-#{$space} { margin-top: #{$value}; }
    .mb-#{$space} { margin-bottom: #{$value}; }
    .ml-#{$space} { margin-left: #{$value}; }
    .mr-#{$space} { margin-right: #{$value}; }

    // Padding
    .p-#{$space} { padding: #{$value}; }
    .px-#{$space} { padding: 0 #{$value}; }
    .py-#{$space} { padding: #{$value} 0; }
    .pt-#{$space} { padding-top: #{$value}; }
    .pb-#{$space} { padding-bottom: #{$value}; }
    .pl-#{$space} { padding-left: #{$value}; }
    .pr-#{$space} { padding-right: #{$value}; }
}