@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');

@import 'theme';
@import 'functions';
@import 'mixins';
@import 'utilities';
@import 'buttons';
@import 'cards';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--body-bg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    img {
        filter: var(--nav-logo-color);
        width: 80px;
    }

    ul {
        li {
            display: inline;
            margin: 0px 10px;

            a {
                color: var(--nav-link-color);
            }
        }
    }
}

#home {
    padding: 20px 0px;

    #showcase {
        div {
            h1 {
                font-size: 7rem;
    
                span { color: var(--bg-primary); }

                @include media-mobile { font-size: 4.6rem; }
            }
    
            p {
                font-size: 1.25rem;
                margin-bottom: 15px;

                @include media-mobile {
                    margin-top: 15px;
                    margin-bottom: 25px;
                }
            }
    
            :nth-child(3) { margin-right: 4px; }
        }
    
        img {
            max-width: 300px;
            filter: var(--primary-svg);
        }
    }

    section:not(#showcase) {
        margin: 20px 0px;

        h1 { font-size: 2.5rem; }
    }

    #stats {
        #stat-cards {
            div {
                img { width: 70px; }
                h2 { margin: 12px 0px; }
            }

            @include media-mobile {
                & {
                    :first-child {
                        margin: 0;
                        margin-bottom: 30px;
                    }

                    div { margin: 30px 0px; }
                }
            }
        }
    }
}

#about {
    display: grid;
    grid-template-columns: 1fr 5fr;

    #about-aside {
        nav {
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;

                li {
                    font-size: 1.2rem;
                    padding: 5px 10px;
                    border: 1px solid white;
                    min-width: 180px;
                    cursor: pointer;
                    color: white;
                    background-color: var(--bg-primary);
                }
            }
        }
    }

    #about-content { margin-left: 20px; }

    @include media-mobile {
        grid-template-columns: 1fr;

        #about-aside { margin-bottom: 20px; }
    }
}

#examples {
    .cards-wrapper {
        .card {
            &-body {
                a, button { width: 100%; }
            }
        }
    }
}

footer {
    background-color: var(--bg-primary);
    color: var(--text-secondary);

    &.footer-bottom {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    p { font-size: 1.2rem; }
}